@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

:root {
    --color-one: #EFEFEF;
    --color-text: #777777;
    --color-text2: #1B2026;
    --coloe-tow: #F7D9C4;
    --font: "DM Sans", sans-serif;
}